* {
  font-family: "Red Hat Text", sans-serif;
}
.container {
  margin: 2rem;
}
.header {
  margin-bottom: 1rem;
}
.main-item {
  display: flex;

}
.all-products {
  width: 65vw;
  background-color: burlywood;
  margin: 0 1.8rem 0 0;
}